.react-datepicker {
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.15);
  border: none;
  border-radius: 10px;
  width: 226px;
  height: 247px;
  position: absolute;
  left: 450px;
  bottom: -100px;
}

.react-datepicker__header {
  width: 226px;
  height: 56px !important;
  padding: 0 !important;
  margin-top: 10px;
}

.react-datepicker__month {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 133px;
  margin-top: 37px !important;
}

.react-datepicker__day-names {

  height: 20px;
}

.react-datepicker__week {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  height: 205px;
  /* padding-top: 2.5px;
  padding-bottom: 2.5px; */
}

.react-datepicker__day-name,
.react-datepicker__day {
  width: 23px !important;
  font-size: 10px;
  line-height: 14px !important;
}

.react-datepicker__day--selected {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: orange;
  border-radius: 50%;
  height: 22px;

  &:hover {
    background-color: orange;
    border-radius: 50%;
  }
}

.react-datepicker__day--today {
  background-color: white;
  color: white;
  font-weight: 700;
}

.react-datepicker__day--outside-month {
  cursor: default;
  color: #d9d9d9;
}
